pipeline/pl_master_orchestration.json
{
	"name": "pl_master_orchestration",
	"properties": {
		"activities": [
			{
				"name": "act_get_files",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adls_bronze_sales",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "act_foreach_files",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "act_get_files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('act_get_files').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "act_copy_to_sql",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": "truncate table dbo.SalesFact",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_adls_sales_csv",
									"type": "DatasetReference",
									"parameters": {
										"fileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_sql_salesfact",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "azure_bronze_to_silver",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "act_foreach_files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/suneelkumar.adengineer@gmail.com/bronze_to_silver_sales"
				},
				"linkedServiceName": {
					"referenceName": "ls_databricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "act_silver_to_gold",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "azure_bronze_to_silver",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/suneelkumar.adengineer@gmail.com/silver_to_gold"
				},
				"linkedServiceName": {
					"referenceName": "ls_databricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "act_success_alert",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "act_silver_to_gold",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": "https://webhook.site/aefb0c16-c31b-4d73-b518-5021fda29c9b",
					"body": {
						"value": "{\n  \"status\": \"Success\",\n  \"pipeline\": \"pl_master_orchestration\",\n  \"message\": \"Retail Sales Pipeline completed successfully!\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "act_failure_alert",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "act_silver_to_gold",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": "https://webhook.site/aefb0c16-c31b-4d73-b518-5021fda29c9b",
					"body": {
						"value": "{\n  \"status\": \"Failed\",\n  \"pipeline\": \"pl_master_orchestration\",\n  \"message\": \"Retail Sales Pipeline Failed! Please check ADF Monitor.\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-04-20T05:57:19Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}